html {
    min-height: 100%;
}

body {
    min-height: -webkit-fill-available;
}

webview {
    height: -webkit-fill-available;
}

::-webkit-scrollbar {
    display: none;
}

.col-left {
    flex: 0 0 56px;
    max-width: 56px;
}

.col-hint {
    display: flex;
    flex: 0 0 8px;
    justify-content: flex-end;
    align-items: center;
    max-width: 8px;
}

.row-hint {
    width: 6px;
    height: 40px;
    border-radius: 3px;
}

.col-avatar {
    flex: 0 0 46px;
    max-width: 46px;
    /* align-self: stretch; */
}

.col-left, .col-hint, .col-avatar {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-text, .col-timestamp {
    display: none;
    overflow: hidden;
    align-self: stretch;
}

.col-text {
    font-size: 15px;
}

.col-timestamp {
    padding-top: 5px;
    padding-right: 2px;
    font-size: 12px;
}

.td-convo {
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.td-counter {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid aliceblue;
    background-color: orangered;
    color: aliceblue;
    font-size: 10px;
}

.td-nickname {
    /* font-size: 15px; */
    /* padding-top: 5px; */
    /* height: 1rem; */
}

.td-text {
    color: dimgray;
    /* padding-bottom: 5px; */
    /* height: 1rem; */
}

.td-nickname, .td-text {
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
}

.td-font {
    font-family: "Segoe UI", "Helvetica", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.theme-transduction {
    background-color: #ffede2;
}

.theme-transduction:hover {
    background-color: #ffdeca;
}

.theme-skype {
    background-color: #00aff0;
    /* background-color: #0078d7; */
}

.theme-wechat {
    background-color: #1aad19;
    /* background-color: #2ba245; */
    /* background-color: #91ed61; */
}

.td-avatar {
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
}

@media (min-width: 576px) {
    .col-left {
        flex: 0 0 256px;
        max-width: 256px;
    }
    .col-text, .col-timestamp {
        display: flex;
    }
}