html {
    min-height: 100%;
}

body {
    /* min-height: -webkit-fill-available; */
    height: -webkit-fill-available;
}

webview {
    height: -webkit-fill-available;
}

.container-fluid {
    height: -webkit-fill-available;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #e8e8e8;
}

::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}

.col-left {
    /* flex: 0 0 56px; */
    min-width: 56px;
    max-width: 256px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#td-left {
    background-color: #f9f9f9;
}
#td-settings {
    border-bottom: 1px solid #c0c0c0;
    padding: 2px;
}

.td-default {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    padding-right: 56px;
}

#td-settings .td-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#td-settings .td-app-status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.app-online {
    filter: grayscale(0%);
}

.app-offline {
    filter: grayscale(100%);
}

.td-buttons img {
    height: 40px;
    width: 40px;
}

.td-app-status img {
    height: 32px;
    width: 32px;
}

.col-right {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-hint {
    display: flex;
    flex: 0 0 8px;
    justify-content: flex-end;
    align-items: center;
    max-width: 8px;
}

.row-hint {
    width: 6px;
    height: 40px;
    border-radius: 3px;
}

.col-appLogo {
    /* display: none; */
    position: absolute;
    right: 0px;
    height: 56px;
    width: 71px;
    overflow: hidden;
}

.col-appLogo>img, .td-chat-title>img {
    height: 66px;
    width: 66px;
    opacity: 0.3;
}

.td-toolbox>img {
    height: auto;
    width: 100%;
    padding: 5px;
}

.col-avatar {
    flex: 0 0 46px;
    max-width: 46px;
    /* align-self: stretch; */
}

#td-right {
    display: flex;
    flex-direction: column;
}

.td-chat-title {
    height: 76px;
    display: flex;
    align-items: center;
}

.td-chat {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}

#td-pin {
    position: fixed;
    left: 256px;
    bottom: 7rem;
    height: 34px;
    width: 34px;
    z-index: 1;
}

.td-chatLog {
    flex: 1;
    overflow: auto;
    position: relative;
}

#debug-history {
    position: absolute;
    top: 0;
    left: 50%;
    width: 42px;
    height: 42px;
    transform: translateX(-50%);
    transition: transform 0.25s ease-out;
}

#debug-history.hide {
    transform: translate(-50%, -42px);
}

.td-bubble {
    padding: 5px 10px 5px 10px;
    /* background-color: #f0f0f0; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.td-bubble .td-downloading, .td-bubble .td-downloaded {
    display: none;
}

.td-bubble.td-downloading .td-downloading {
    display: flex;
}

.td-bubble.td-downloaded .td-downloaded {
    display: flex;
}

.td-chatAvatar {
    /* background-size: cover;
    background-position: center; */
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    border-style: none;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    margin-right: 1rem;
}

.td-chatAvatar>img {
    width: 4rem;
    height: 4rem;
    opacity: 0.3;
}

.td-chatAvatar>p {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%)
}

.td-chatText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    white-space: pre-wrap;
}

#td-sending {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color:#c0c0c0;
    animation-name: sending;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#td-warning {
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
    background-color:#c0c0c0;
    animation-name: sending;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes sending {
    100% {
        background-color: unset;
    }
}

.td-chatImg {
    max-width: 45vw;
    max-height: 85vh;
    padding-top: 5px;
    padding-bottom: 5px;
    /* max-height: 80%; */
}

.td-chatImg>img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.td-them {
    margin: 0 40px 0 0;
    background-color: #e0e0e0;
    display: flex;
    /* max-width: 100%; */
    width: fit-content;
    border-radius: 2rem;
    padding-right: 2rem;
    min-height: 4rem;
}

.td-me {
    margin: 0 0 0 40px;
    background-color: #c0c0c0;
    width: fit-content;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    min-height: 4rem;
    align-self: flex-end;
    display: flex;
    position: relative;
}

.td-me .td-bubbleStatus {
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: -1.8rem;
    bottom: -0.4rem;
}

.td-bubbleStatus.bubbleError {
    height: 2rem;
    width: 2rem;
    background-image: url('../res/pic/bubble_error.svg');
    position: absolute;
    left: -1.8rem;
    bottom: -0.4rem;
    box-sizing: border-box;
    padding-left: 2rem;
}

.td-me>p {
    align-self: flex-end;
}

.td-input {
    max-height: 30rem;
    min-height: 2rem;
    height: auto;
    flex: 0 0 auto;
    display: flex;
    overflow: auto;
}

.td-inputbox {
    flex: 1;
    overflow: auto;
    word-break: break-word;
    white-space: pre-wrap;
}

.td-send {
    height: 55px;
    width: 55px;
    position: absolute;
    bottom: 0px;
    border-top-left-radius: 55px;
    background-color: #c0c0c0;
}

.td-send>b {
    position: absolute;
    left: 10px;
    top: 15px;
    transform: rotate(-45deg);
}

.td-dropFile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #9c9c9c88;
    z-index: 2;
    display: flex;
    justify-content: center;
    overflow: hidden;
    caret-color: transparent;
}

.td-dropFile.hide {
    display: none;
}

.td-invisible {
    visibility: hidden;
}

.td-none {
    display: none !important;
}

.col-left, .col-hint, .col-avatar, .col-right {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-text, .col-timestamp {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: stretch;
}

.col-text {
    font-size: 15px;
    padding: 0px 3px 0px 5px;
}

.col-timestamp {
    padding-top: 5px;
    padding-right: 2px;
    font-size: 12px;
}

.td-convo {
    overflow: hidden;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

.td-counter {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid aliceblue;
    background-color: orangered;
    color: aliceblue;
    font-size: 10px;
}

.td-toolbox {
    width: 56px;
    overflow: hidden;
}

.td-row {
    display: flex;
    /* font-size: 15px; */
    /* padding-top: 5px; */
    /* height: 1rem; */
}

.td-text {
    color: dimgray;
    /* padding-bottom: 5px; */
    /* height: 1rem; */
}

#td-pin-area {
    /* background-color: blue; */
}

.td-nickname, .td-text {
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
}

.td-font {
    font-family: "Segoe UI", "Helvetica", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.theme-transduction {
    /* background-color: #ffede2; */
    background-color: #ffffff;
}

.theme-transduction:hover, .theme-transduction-active {
    background-color: #e7e7e7;
    /* background-color: #ffdeca; */
}

.theme-transduction-active-tran {
    background-color: #5b6ca7;
    /* background-color: #ffdeca; */
}

.theme-skype {
    background-color: #00aff0;
    /* background-color: #0078d7; */
}

.theme-dingtalk {
    background-color: #008cee;
}

#td-right, .td-toolbox {
    border-left: 1px solid #c0c0c0;
}

.td-chat {
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
}

.td-avatar {
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
}

.col-left.td-full {
    flex: 0 0 256px;
    max-width: 256px;
}

.col-text.td-full, .col-timestamp.td-full {
    display: flex;
}

.col-appLogo.td-full {
    display: block;
}