<!DOCTYPE html>
<html>

<head>
  <title>Main window</title>
  <!-- <script src="../static/js/jQuery/jquery-3.3.1.min.js"></script> -->
  <!-- jQuery 必须这么用 -->
  <script>window.$ = window.jQuery = require('../static/js/jQuery/jquery-3.3.1.min.js');</script>
  <script src="../static/js/own/index.js"></script>
</head>

<body style="overflow:hidden;">
  <h1>Hello!</h1>

  

  <script>
      // need to have a script tag make webview work even if you don't plan to use it...
  </script>
</body>

</html>